/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@100&family=Lexend+Deca:wght@100&family=Livvic:wght@100&family=Poppins:wght@300;400;500;600;700;800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
@import "~font-awesome/css/font-awesome.min.css";
$purple :#A88BEB;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins';
}

html, body {
    height: 100%;
    background-color: #f4f7fa;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
    text-decoration: none;
    color: black;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
