<div class="todos">
  <div
    class=""
    *ngFor="let todo of todos; let i = index"
  >
   <div class="todo" *ngIf = "todo.important">

   
    <div class="todo-content">
      <div class="todo-left">
        <div class="form-check wrapper">
          <form >
          <input
            class="checkbox"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            (click) = "isCompleted(todo)"
          />
          <label class="form-check-label" for="flexCheckChecked">{{
            todo.task
          }}</label>
        </form>
        </div>
      </div>
      <div class="todo-right">
        <img src="../../assets/images/star (3).png" class="important-icon" alt="#" *ngIf="!todo.important"  (click)="isImportant(todo)">
        <img src="../../assets/images/star (1).png" class="important-icon-full" alt="#" *ngIf="todo.important"  (click)="isImportant(todo)">
        <div class="edit-delete">
          <i class="bi bi-pencil-square edit-delete" mat-raised-button (click)="openDialog(todo)"></i>
          <button (click)="onDeleteButton(todo.id)" class="delete-btn edit-delete" ><i class="bi bi-trash"></i></button>
        </div>
      </div>
      
    </div>
    <hr class="line" />
    <div class="todo-bottom">
      <div class="todo-bottom-links">
        <div class="date"> 
          <i class="bi bi-calendar-week date-icon"></i>
          <span class="todo-date daysRappel">{{formatDate(todo.date)}}</span>
        </div>
        <div class="rappel">
          <i class="bi bi-bell"></i>
          <span class="todo-rappel daysRappel" *ngIf="notNull(todo.rappel)" >{{formatRappel(todo.rappel)}}</span>
        </div>
        
      </div>
    </div>
  </div>
  </div>

</div>