#divChart{
    display: block;
    max-width: 1010px;
    width: 1000px;
     height: 400px;
    margin-top: 17px !important;
 }
@media screen and (max-width:1360px) {
    #divChart{
        width: 800px;
    }
}


@media screen and (max-width:1000px) {
    #divChart{
        width: 750px;
    }
}
@media screen and (max-width:860px) {
    #divChart{
        width:700px;
    }
}
@media screen and (max-width:800px) {
    #divChart{
        width:650px;
    }
}
@media screen and (max-width:730px) {
    #divChart{
        width:580px;
    }
}
@media screen and (max-width:670px) {
    #divChart{
        width:550px;
    }
}
@media screen and (max-width:650px) {
    #divChart{
        width:500px;
    }
}

@media screen and (max-width:610px) {
    #divChart{
        width:450px;
    }
}

@media screen and (max-width:560px) {
    #divChart{
        width:430px;
    }
}

@media screen and (max-width:530px) {
    #divChart{
        width:380px;
    }
}
@media screen and (max-width:500px) {
    #divChart{
          margin-left: 10px !important;
        width:350px;
    }
}
@media screen and (max-width:450px) {
    #divChart{
        width:320px;
    }
}
@media screen and (max-width:400px) {
    #divChart{
        width:270px;
    }
}
@media screen and (max-width:350px) {
    #divChart{
        width:220px;
    }
}
@media screen and (max-width:310px) {
    #divChart{

        width:200px;
    }
}











